<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

    <style>
        body{
            background-image: url("../static/images/adm.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        h2{
            text-align: center;
            color: black;
        }

        p{
            color: beige;
        }

        ol{
            color: white;
        }
    </style>

    <link rel="icon" href="../static/images/favicon.jpg">
</head>
<body>
    <div class="container-fluid">
        {% include 'navbar.html' %}
    <h2>Welcome to Harmony Heights Apartments</h2>
<p>At Harmony Heights, we believe that home is not just a place, but a feeling. Nestled in the heart of the city, our apartments offer a tranquil retreat from the hustle and bustle of urban life, while still keeping you connected to everything the vibrant city has to offer.</p>

<h2>Our Story</h2>
<p>Established in 2023, Harmony Heights was founded with a vision to redefine apartment living. Our mission is to provide residents with not just a place to live, but a community where they can truly feel at home.</p>

<h2>Our Commitment</h2>
<p>We are committed to creating a living environment where comfort, convenience, and community converge. From our meticulously designed living spaces to our array of amenities, every aspect of Harmony Heights is crafted to enhance your quality of life.</p>

<h2>What Sets Us Apart</h2>
    <ol>
        <li> Prime Location: Located in the heart of Nairobi city, Harmony Heights offers easy access to dining, shopping, entertainment, and more.</li>
   
        <li>Modern Amenities: Enjoy a range of modern amenities including a fitness center, swimming pool, communal lounge, and more, designed to cater to your lifestyle needs.</li>

        <li>Dedicated Management: Our dedicated management team is committed to providing exceptional service and ensuring that your living experience at Harmony Heights is nothing short of extraordinary.</li>

        <li>Community Events: We believe in fostering a sense of community among our residents. From social gatherings to educational workshops, our community events offer opportunities for residents to connect and engage with one another.</li>
    </ol>

<h2>Our Team</h2>
<p>Meet the passionate individuals behind Harmony Heights who are dedicated to making your living experience exceptional. Our team is here to assist you every step of the way, from finding the perfect apartment to ensuring your needs are met throughout your residency.</p>

<h2>Contact Us</h2>
<p>Ready to experience the harmony of apartment living? Get in touch with our leasing team today to schedule a tour and discover your new home at Harmony Heights.</p>

</div>

{% include 'footer.html' %}


</body>
</html>