<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

    <style>
        body{
            background-image: url("../static/images/up.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            backface-visibility: visible;
        }
    </style>

 <link rel="icon" href="../static/images/favicon.jpg">

</head>
<body>
    <div class="container-fluid">
       
        <section>
            {% include 'upload.html' %}
        </section>

    </div>
    <br> <br> <br> <br> 
    <br> <br> <br> <br>
    <br> <br> <br> <br>
    <br> <br> <br> <br>

    <footer class="text-light bg-dark text-center">Developed by Patricia Nekesa. &copy;2024.All Rights Reserved</footer>

</body>
</html>