<section class="row text-light bg-warning p-5">
    <div class="col-md-4">
        <h4>About Us</h4>
        <p class="text-dark">At Harmony Heights, we pride ourselves in offering a diverse range of apartments tailored to meet the needs of modern urban dwellers.</p> 

        <p class="text-dark">Whether you're seeking a cozy studio for one or a spacious three-bedroom for a growing family, we have the perfect home for you.</p>
        
        <p class="text-dark">Conveniently located near shopping, dining, and entertainment options, Harmony Heights offers the ultimate in urban living.</p> 

        <p class="text-dark">With easy access to public transportation and major highways, commuting is a breeze, allowing you to spend more time enjoying all that the city has to offer.</p>



    </div>
    <div class="col-md-4">
        <h4>Appreciation</h4>
        <p class="text-dark">Thank you for considering Harmony Heights for your next home.We look forward to welcoming you to our community and helping you discover the perfect place to call your own.</p>

        <h4>Contact Us</h4>
        <input type="email" placeholder="Enter Email" class="form-control"><br>
        <textarea name="" id="" cols="35" rows="5" class="form-control">Leave a Comment</textarea><br>
        <button class="btn btn-danger">Send Message</button> <br> <br>

       

    </div>
    <div class="col-md-4">
        <h4>Stay Connected</h4>
        <a href="https://facebook.com">
            <img src="../static/images/fb.png" alt=""></a> &nbsp;
        <a href="https://instagram.com">
            <img src="../static/images/in.png" alt=""></a> &nbsp;
        
        <a href="https://twitter.com/">
            <img src="../static/images/x.png" alt=""></a>
        <br> <br>
        <p class="text-dark">Reach us through our social media pages above. We look forward to hear from you. Your concerns are our priority.</p>

        

    </div>
    

</section>
<footer class="text-light bg-dark text-center">Developed by Patricia Nekesa. &copy;2024.All Rights Reserved</footer>
